.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.setting-badge {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 3.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 600;
  margin-left: 10px;
}
